<ion-header>
  <ion-toolbar style="text-align: center" color="primary">
    
    <ion-title display="inline-block;">
      <ion-menu-button style="padding:0">
       
      </ion-menu-button>
      
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="{{logo}}">
  <ion-card color="tertiary" style="padding: 10px;">
    <h4 style="text-align: center">How to play</h4>
    <ion-item>
      <ion-list>

      </ion-list>
    </ion-item>
  </ion-card>
</ion-content>
<footer>
  <ion-button expand="block" [routerLink]="['/login']">Logout</ion-button>
</footer>